[tool.poetry]
name = "parsee-core"
version = "0.1.0"
description = ""
authors = ["Parsee.ai <info@parsee.ai>"]
homepage = "https://parsee.ai"
packages = [{include = "parsee"}]

[tool.poetry.dependencies]
python = ">=3.9,<3.11"
requests = "^2.28.1"
pandas = "^1.4.3"
numpy = "^1.23.1"
tiktoken = "^0.4.0"
openai = "^0.27.8"
pydantic = "^1.6.2"
faiss-cpu = "^1.5.0,<1.7.0"
replicate = "^0.23.1"
beautifulsoup4 = "^4.11.1"
parsee-pdf-reader = "^0.1.0"
sentence-transformers = "^2.2.2"
lxml = "^4.9.1"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
